In [1]:
import numpy as np

In [2]:
import pandas as pd
import pickle

In [3]:
data51 = pickle.load(open('pso50100','rb'))
data55 = pickle.load(open('pso50500','rb'))
data21 = pickle.load(open('pso200100','rb'))
data25 = pickle.load(open('pso200500','rb'))

In [13]:
data = {
    'N=050 E=100':data51,
    'N=050 E=500':data55,
    'N=200 E=100':data21,
    'N=200 E=500':data25,
}

In [14]:
dados = []
for key,value in data.items():
    for alg,alg_data in value.items():
        if alg == 'pso_fr' or alg == 'pso_': continue
        algoritmo = [key, alg.upper() if alg != 'iwpso' else 'PSO']
        for dim, dim_data in alg_data.items():
            algoritmo.append(dim_data['mean'])
        dados.append(algoritmo)

In [16]:
# dados.extend([['N=050 E=100','QPSO',0.005708443955778838,3.107339106382508,18.77339835093224,153.5189805905721,359.7504696230757],
# ['N=050 E=500','QPSO',0,1.034623719640095,7.349062309028915,59.83710944982901,128.27284184430306],
# ['N=200 E=100','QPSO',3.1778601718102095e-05,1.526721952382217,8.828904564411788,80.04154285714331,256.040362873004],
# ['N=200 E=500','QPSO',0.,0.06706406016119573,2.923654215384809,36.47427087547375,93.60556912390857]])

dados.extend([ 
    ['N=050 E=100','QPSO',3.8458e-4,2.0251,11.3932,117.8424,284.9179],
    ['N=200 E=100','QPSO',4.2291e-7,0.7461,4.6517,68.5619,201.7577],
    ['N=050 E=500','QPSO',2.0174e-7,1.3603,6.9676,53.7736,123.2402],
    ['N=200 E=500','QPSO',5.3291e-16,0.1335,2.5711,38.2360,79.9504],

    ['N=050 E=100','WQPSO',1.12588651113299e-07,0.309168909245696,6.72360907836228,114.552819821676,281.459997193587],
    ['N=050 E=500','WQPSO',0,5.72161919976111e-07,0.19617631954162,12.2914504164316,37.5510269301263],
    ['N=200 E=100','WQPSO',2.59462128819147e-09,0.108705217859985,2.91776690357882,92.9011600034543,242.252425460713],
    ['N=200 E=500','WQPSO',0,2.00211388208989e-08,8.15121276700026e-05,2.17604949947937,14.008326468084]
])

In [17]:
df = pd.DataFrame(dados, columns=[' ', 'Algoritmo','D2', 'D5', 'D10', 'D30', 'D50'])

In [18]:
df = df.set_index(' ')

In [19]:
df = df.groupby([df.index,'Algoritmo']).agg(float)

C:\Users\hugoe\AppData\Local\Temp\ipykernel_18708\508532865.py:1: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df = df.groupby([df.index,'Algoritmo']).agg(float)

In [20]:
pd.options.display.float_format = '{:.5f}'.format

In [21]:
df.style.set_table_styles([dict(selector="th",props=[('max-width', '80px')])])

In [23]:
print(df.to_latex)

\begin{tabular}{llrrrrr}
\toprule
 &  & D2 & D5 & D10 & D30 & D50 \\
  & Algoritmo &  &  &  &  &  \\
\midrule
\multirow[t]{5}{*}{N=050 E=100} & DNLPSO & 0.099496 & 2.559030 & 8.172495 & 58.445834 & 143.221124 \\
 & PAO & 0.000000 & 1.228838 & 10.026684 & 86.705952 & 204.614500 \\
 & PSO & 0.033165 & 2.421079 & 9.026510 & 49.933547 & 144.840493 \\
 & QPSO & 0.000385 & 2.025100 & 11.393200 & 117.842400 & 284.917900 \\
 & WQPSO & 0.000000 & 0.309169 & 6.723609 & 114.552820 & 281.459997 \\
\cline{1-7}
\multirow[t]{5}{*}{N=050 E=500} & DNLPSO & 0.000000 & 2.188910 & 8.191828 & 26.714399 & 59.177506 \\
 & PAO & 0.033165 & 1.160785 & 9.518432 & 90.236876 & 204.234290 \\
 & PSO & 0.000000 & 2.421067 & 9.750592 & 35.011413 & 77.640412 \\
 & QPSO & 0.000000 & 1.360300 & 6.967600 & 53.773600 & 123.240200 \\
 & WQPSO & 0.000000 & 0.000001 & 0.196176 & 12.291450 & 37.551027 \\
\cline{1-7}
\multirow[t]{5}{*}{N=200 E=100} & DNLPSO & 0.000000 & 1.521589 & 5.284011 & 35.809964 & 114.999446 \\
 & PAO & 0.000000 & 0.465802 & 4.454598 & 66.704045 & 158.589273 \\
 & PSO & 0.000000 & 1.460263 & 8.125811 & 27.762525 & 65.890572 \\
 & QPSO & 0.000000 & 0.746100 & 4.651700 & 68.561900 & 201.757700 \\
 & WQPSO & 0.000000 & 0.108705 & 2.917767 & 92.901160 & 242.252425 \\
\cline{1-7}
\multirow[t]{5}{*}{N=200 E=500} & DNLPSO & 0.000000 & 0.928856 & 5.638111 & 19.681144 & 44.953044 \\
 & PAO & 0.000000 & 0.066331 & 4.411114 & 63.246445 & 161.189153 \\
 & PSO & 0.000000 & 1.127620 & 7.395859 & 27.402635 & 49.986103 \\
 & QPSO & 0.000000 & 0.133500 & 2.571100 & 38.236000 & 79.950400 \\
 & WQPSO & 0.000000 & 0.000000 & 0.000082 & 2.176049 & 14.008326 \\
\cline{1-7}
\bottomrule
\end{tabular}

In [ ]:
dg

In [167]:
df.style.set_table_styles([dict(selector="th",props=[('max-width', '80px')])])

In [86]:
data = pd.DataFrame([[np.array([1,2,305]),[1,2,3],[1,2,3]],[[1,2,3],[1,2,3],[1,2,3]],[[1,2,3],[1,2,3],[1,2,3]]],['1_n','2_n','3_p'],[1,2,3])
data.columns = data.rows.str.split('_', expand=True)
data.columns = data.rows.swaplevel(1,0)
data

AttributeError: 'DataFrame' object has no attribute 'rows'

In [42]:
data = [['Obfddd fd01',1,2,3],['Ob02',4,5,6],['Ob03',7,8,9]]
dfr = pd.DataFrame(data, columns = ['Name', 'A','B','C'])

In [43]:
df = dfr.set_index('Name')
df = pd.concat([df.assign(OP = 'Val') , df.mul(2).assign(OP = 'mul2') , df.div(3).assign(OP = 'div3')]).sort_values('Name')

In [44]:
df = df.groupby([df.index,'OP']).agg(float)
df.style.set_table_styles([dict(selector="th",props=[('max-width', '50px')])])

C:\Users\hugoe\AppData\Local\Temp\ipykernel_188\992618031.py:1: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df = df.groupby([df.index,'OP']).agg(float)

In [ ]:
df

                       A          B     C
Name     OP
Ob02     Val    4.000000   5.000000   6.0
         div3   1.333333   1.666667   2.0
         mul2   8.000000  10.000000  12.0
Ob03     Val    7.000000   8.000000   9.0
         div3   2.333333   2.666667   3.0
         mul2  14.000000  16.000000  18.0
Ob<br>01 Val    1.000000   2.000000   3.0
         div3   0.333333   0.666667   1.0
         mul2   2.000000   4.000000   6.0